.div1{
    text-align: center;
    border-radius: 50px;
    font-family: monospace;
}

.btn{
padding: 0;
border: none;
background: none;

}

.firstbtn {
    border-color: #e7e7e7;
    color: black;
  }

  .firstbtn:hover {
    background: #e7e7e7;
  } 

.div2 {
    text-align: center;
}

.img1{
 width: 30%;
 padding: 16px;
}